@import url("https://fonts.googleapis.com/css?family=Asap");

* {
    margin: 0;
    font-family: "Asap", sans-serif;
}

body {
    background: #536976; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #292e49,
        #536976
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #292e49,
        #536976
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: aliceblue;
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}
h1 {
    padding-bottom: 20px;
}

.desgination {
    font-style: italic;
    padding-bottom: 5px;
}

.summary {
    font-size: 0.8em;
    padding-bottom: 20px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.left {
    margin-right: 20px;
}
.detail {
    padding: 10px;
    padding-left: 0;
}

.detail {
    padding: 10px;
    padding-left: 0;
}

.detail .mainHeading {
    font-size: 1.5em;
    font-weight: 800;
    padding: 10px 0;
}

.detail .mainHeading::after {
    content: " ";
    padding-top: 5px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #eeee;
}

.contentBody div {
    padding: 10px;
    padding-top: 2px;
}

.contentBody ul {
    column-count: 2;
}

.contentBody ul li {
    padding: 3px;
}

.contentBody div a {
    color: aliceblue;
    text-decoration: none;
}

.timelineItem {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

@media only screen and (max-width: 718px) {
    .body {
        grid-template-columns: 1fr;
    }

    body {
        padding: 10px 20px;
    }
}
